<header class="c-page__header">
  <h1 onclick="location.href='/';" onmouseover="this.style.cursor='pointer';" ><code>{{ site.title}}</code></h1>
  <p>
    <a href="{{ "/install/" | prepend:
          site.baseurl }}">Install</a><span class="u-separate"></span><a href="{{ "/tutorial/" | prepend:
          site.baseurl }}">Get started</a><span class="u-separate"><span class="u-separate"></span> <a href="{{ "/write/" | prepend: site.baseurl }}">Write</a></span> <a href="{{ "/style/" | prepend: site.baseurl }}">Style</a><span class="u-separate"></span><a href="{{ "/share/" | prepend: site.baseurl }}">Share</a>
  </p>
</header>
