/* ==========================================================================
   Article
   ========================================================================== */

.c-article {
    margin-bottom: 10rem; // 100px
}

.c-article__header {
    margin-bottom: 2rem; // 50px
    @media screen and (min-width: $bp__sm) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
            -ms-flex-align: baseline;
                align-items: baseline;
    }
}

.c-article__title {
    @include fs--heading-1;
    color: $c-base__02;
}

.c-article__time {
    @include fs--body;
    color: $c-base__01;
}

.c-article__main {
    margin-bottom: 5rem; // 50px
    @include fs--body;
    color: $c-base__01;

    > * {
        margin-bottom: 1.8rem; // 18px
    }

    h1 {
      margin-top: 2em;
    }
    h2 {
        @include fs--heading-2;
    }

    h3 {
        @include fs--heading-3;
    }

    h4 {
        @include fs--heading-4;
    }

    h5 {
        @include fs--body;
    }

    strong {
        color: $c-base__02;
        font-weight: 700;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
        padding: 1rem;
        padding-left: 1.8rem; // 18px
        border: 1px solid #efefef;
        border-left: 3px solid $c-accent__blue;
    }

    ul,
    ol {
        margin-left: 2.1rem;
    }

    table {
      text-align:center;
      margin: 0 auto .4rem auto;
      border: 1px solid #efefef;
    }

    th {
      background-color: #efefef;
    }

    th, td {
      padding: .5rem 1rem .5rem 1rem;
    }

    .example {
      font-weight: bold;
      margin-bottom: 0;
      padding-top: .7rem;
      color: #5C6E74;
    }

    .filename {
      font-size: 1.4rem;
      font-weight: bold;
      text-align: right;
      margin-bottom: .3rem;
      margin-top: -.4rem;
      color: #BCBCBC;
    }

		.web-container {
			position: relative;
			width: 100%;
			max-width: 100%;
			height: 0;
			padding-bottom: 62.5%;
			border: 1px solid #cacaca;
			overflow: hidden;
		}

		.web-container iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;
		}
}

.c-article__footer {
}

.pagenav {
  width: 100%;
  text-align: center;
  border: 1px solid LightGrey;
  border-left-color: transparent;
  border-right-color: transparent;
  font-size: 18px;
  overflow: hidden;
  margin-bottom: 8rem;
}

.pagenav div {
  border-color: transparent;
}

.wrapper {
  padding: 10px;
  border: 1px solid LightGrey;
  display: inline-block;
  margin: 0 auto;
}

#left {
  float: left;
  text-align: left;
}

#right {
  float: right;
  text-align: right;
}

.c-article__main .toc {
  border-top: solid 1px $c-accent__blue;
  border-bottom: solid 1px $c-accent__blue;
  padding: .4rem 0 .4rem 0;
  margin-left: 0;
  margin-bottom: 5rem;
  list-style: none;
}

.c-article__main .toc ul {
  list-style: none;
  font-style: italic;
}
