---
layout: page
---
<article class="c-article">
  {% if page.permalink != '/' %}
  <header class="c-article__header">
    <h1 class="c-article__title">{{ page.title }}</h1>
  </header>
  {% endif %}
  <div class="c-article__main">
    {% include toc.html html=content class="toc" h_max=1 %}
    {{ content }}
  </div>
  <footer class="c-article__footer">
  </footer>
</article>
