@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: italic;
    src: url("../assets/fonts/Roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    font-weight: 400;
    font-style: normal;
    src: url("../assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}
